/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply styles to the header */
header {
    background-color: #3498db;
    text-align: center;
    padding: 20px 0;
}

/* Style the header image */
header img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 10px;
}

/* Style the header text */
h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Style the header links */
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-style bold;
    transition: color 0.3s ease;
}

/* Change link color on hover */
nav a:hover {
    color: #3498db;
}

/* Add spacing to the main content */
main {
    padding: 20px;
}

/* Style the main content paragraph */
p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

/* Style the education and work experience sections */
.education, .work-experience {
    margin-bottom: 30px;
}

.education h2, .work-experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.work-experience h3 {
    color: #3498db;
    font-size: 1.2em;
    margin-top: 10px;
}

.work-experience h4 {
    font-size: 1.2em;
    margin-top: 10px;
    font-style: italic;
}
