/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and center the header text */
/* header {
    background-color: #3498db;
    text-align: center;
    padding: 80px 0;
} */

/* Add styles for the header image */
header img {
    width: 150px; /* Adjust the width as needed */
    border-radius: 50%; /* To make the image circular */
    /* border: 2px solid #3498db; Add a border */
}

/* Style the header text */
h1 {
    color: #fff;
    font-size: 2.5em;
}

/* Style the header links */
nav a {
    margin: 0 10px; /* Add spacing between the links */
    text-decoration: none; /* Remove underlines from links */
    color: #333; /* Set link color */
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth color transition */
}

/* Change link color on hover */
nav a:hover {
    color: #3498db; /* Change link color on hover */
}

/* Add some space to the main content */
main {
    padding: 20px;
}

/* Style the main content paragraph */
p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

/* Style the education and work experience sections */
.education, .work-experience {
    margin-bottom: 30px; /* Add spacing between sections */
}

.education h2, .work-experience h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.education p, .work-experience h3, .work-experience p {
    margin: 0;
    line-height: 1.6;
}

.work-experience h3 {
    font-size: 1.2em;
    margin-top: 10px;
}